#blocpage {
   display: flex;
   flex-direction: row;
   max-width: 1080px;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;

}



.icones {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-bottom: 20px;
}

.ico {
   display: block;
   border: solid 2px #37474F;
   border-radius: 50%;
   font-size: 45px;
   padding: 10px;

}


.paragraphe {
  display: flex;
   flex-direction: row;
}
.date2 {
   display: flex;
   flex-direction: row;
   width: 40%;
}

.text {
   display: flex;
   flex-direction: column;
   max-width: 60%;
   padding-top: 20px;
   justify-content: space-between;

}

h5 {
   padding: 2px;
   margin: 0px;
   font-size: 20px;
}
h6 {
   padding: 0px;
   margin:05px;
   font-size: 14px;
}

aside {
   display: flex;
   flex-direction: column;
   width: 33%;
   background-color: rgb(253, 221, 38)
}

main {
   display: flex;
   flex-direction: column;
   width: 67%;
   padding-top: 30px;
   margin-top: 10px;
   margin-left: 60px;


}

img {
   border-radius: 60%;
   box-shadow: 0px 0px 0px 4px rgb(119, 119, 119, 0.17);
}
.portrait {
   text-align: center;
   margin-top: 25px;
}

@media screen and (max-width: 900px) {
  
   #blocpage {
      display: flex;
    flex-direction: column;
    width: 100%;
    
   }
   aside {
      display: flex;
    flex-direction: column;
    width: 100%;
   }
   main {
      display: flex;
    flex-direction: column;
    width: 100%;
   margin-left: 0px;
   }
   about {
      padding-bottom: 50px;
   }
   down {
      margin-top: 30px;
   }
}

.border {
   background-color: rgb(49, 49, 49);
   text-align: center;
   font-size: 25px;

}

.down {
   margin-top: 230px;
   margin-bottom: 30px;
}

h3 {
   color: rgb(253, 221, 38);
}

.contact {
   padding-left: 40px;
}

.about {

   text-align: justify;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 300px;
}

h1 {
   font-size: 50px;
  
}

h2 {
   margin-bottom: 90px;
}

.dev {
   border-bottom: solid 3px rgb(253, 221, 38);
}

h4 {
   font-size: 30px;
   border-bottom: solid 3px rgb(253, 221, 38);
   padding: 10px;
   
}

.dot {
   color: rgb(253, 221, 38);
   font-size: 15px;
   margin-top: 15px;
   padding-right: 15px;
   
}

.dot2 {
   color: rgb(253, 221, 38);
   font-size: 8px;
   margin-top: 17px;
   padding-right: 20px;
}


.name {
   color: rgb(253, 221, 38);
}

.people {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 17px;
   line-height: 30px;

   
}

.ico2 {
   color: rgb(253, 221, 38);
   font-size: 40px;
   float: left;
   margin-right: 30px;
}

